img {
  width: 100%;
  height: 350px;
}

.card {
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Gryffindor {
  border-radius: 15px;
  border: 3px solid red;
}

.Slytherin {
  border-radius: 15px;
  border: 3px solid green;
}

.Ravenclaw,
.Hufflepuff {
  border-radius: 15px;
  border: 3px solid orange;
}
