.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.tenteNovamente {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
