.cardInitial {
  width: 100vw;
  height: 100vh;
  background-color: #1f1f1f;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #e5e5e5;
}

.cardInitial > h1 {
  height: 95px;
  width: 505px;
  left: 656px;
  top: 347px;
  border-radius: nullpx;
  font-family: Nunito;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 95px;
  letter-spacing: 0em;
  text-align: center;
}

.cardInitial > h2 {
  height: 100px;
  width: 414px;
  left: 696px;
  top: 461px;
  border-radius: nullpx;
  font-family: Nunito;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
}

.cardInitial > button {
  height: 58px;
  width: 545px;
  left: 636px;
  top: 618px;
  border-radius: 15px;
  background-color: #f9e141;
}
